.containerView{

    margin-left: 150px;
    margin-right: 150px;
    padding-top: 100px;
}
button{
    margin: auto;
        padding: 10px 30px;
        text-transform: uppercase;
        background: white;
        font-weight: bold;
    }
.blocArticle{
    text-align: center;
    background: white;
    .firstArticle{
    border-bottom: solid 1px rgba(0, 0, 0, 0.317);
    p{
        width: 50%;
        margin: auto;
        padding: 40px;
        line-height: 40px;
        font-style: italic;
        color:rgba(0, 0, 0, 0.716) ;
}}
    .date{
        padding:60px 0px;
        font-family: "font2";
        position: relative;
        font-style: italic;
        &::before{
            content: "";
            border-top: solid 1px rgba(0, 0, 0, 0.302);
            position:absolute;
            height: 2px;
            padding-right: 30%;
            transform: translate(-350px, 10px);
        }
        &::after{
            content: "";
            margin: auto;
            border-top: solid 1px rgba(0, 0, 0, 0.302);
            position:absolute;
            height: 2px;
            padding-left: 30%;
            transform: translate(30px, 10px);
        }
    }

h2 {margin: auto;
    font-size: 3rem;
    text-transform: uppercase;
    width : 60%;
    font-family: "font1";
    letter-spacing: 10px;
}

}
.containerImg{
    display: grid;justify-content: center;
    padding-bottom: 50px;
    img{
    width : 800px;
    padding: 0px 50px;
    padding-bottom: 50px;
}

}
.secondArticle{
    .data{
        padding:60px 0px;
        font-family: "font2";
        position: relative;
        font-style: italic;
        color:rgba(0, 0, 0, 0.716)
    }
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    h2{
        margin: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    width : 60%;
    font-family: "font1";
    letter-spacing: 5px;
    padding: 30px;
    }
    img{
        width: 400px;
    }
    p{
        width: 400px;
        margin: auto;
        padding: 40px;
        line-height: 30px;
        font-style: italic;
        color:rgba(0, 0, 0, 0.716) ;
        text-align: justify;
    }
    .containerSecondArticle{
        border-left:solid 1px rgba(0, 0, 0, 0.317) ;
}
    }

