.containerView{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 100px;
}
.navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        background: rgba(255, 255, 255, 0.246);

        ul{
            display: flex;
            list-style-type: none;
            justify-content: center;
        li{
            color: white;
            padding: 20px 10px;
            a{
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
                font-family: "font1";
                font-size: 0.8rem;
                color : white;
                &:hover{
                    margin: 0;
                    background:white;
                    color: black;
                    padding: 21px 9px;
                }
            }
        }
        }
}
.icone{
    i{
font-size: 1.2em;
padding-left: 10px;
padding-right: 10px;

}}
.blocArticle{
    background: white;
    .date{
        padding:60px 0px;
        font-family: "font2";
        position: relative;
        &::before{
            content: "";
            border-top: solid 1px rgba(0, 0, 0, 0.302);
            position:absolute;
            height: 2px;
            padding-right: 30%;
            transform: translate(-350px, 10px);
        }
        &::after{
            content: "";
            border-top: solid 1px rgba(0, 0, 0, 0.302);
            position:absolute;
            height: 2px;
            padding-left: 30%;
            transform: translate(30px, 10px);
        }
    }
}
.h2{
    text-transform: uppercase;
}
