.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.246);

    ul{
        display: flex;
        list-style-type: none;
        justify-content: center;
    li{
        color: white;
        padding: 20px 10px;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-family: "font1";
            font-size: 0.8rem;
            color : white;
            &:hover{
                margin: 0;
                background:white;
                color: black;
                padding: 21px 9px;
            }
        }
    }
    }
}
.icone{
    @media screen and (max-width: 800px){
        display: none;
    }
i{
font-size: 1.2em;
padding-left: 10px;
padding-right: 10px;
}
}